@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  font-family: 'inter';
}

.custom-red {
  background-color: #C58282;
}

.custom-grey {
  background-color: #242424;
}

.grey-text {
  color: #B4B4B4;
}